
# User files
.service_state.json
note.md

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv-build.yaml
.venv-run.yaml
.llama-server/

# Indexing
docs/

# ai files
.claude/

# macOS files
.DS_Store